<!DOCTYPE html>

<html lang="es">
<head>
    <title>SDI-Actividad2-1010</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js">

    </script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    </script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="/script/languages.js"> </script>

</head>
<body>
{% block nav %} {% endblock %}
<div class="container" style="text-align: center">
    {% block main %} {% endblock %}
    {% block pagination %} {% endblock %}
</div>
<!-- footer.html -->
<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; SDI - Entregable 2 - MyWallpop</span>
    </div>
</footer>
</body>
</html>