<!DOCTYPE html>

<html lang="es">
<head>
    <title>SDI-Actividad2-1010</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js">

    </script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    </script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

{% block nav %} {% endblock %}
<div class="container" style="text-align: center">

    <script>
        var mensaje = getUrlParameter('mensaje');
        var tipoMensaje = getUrlParameter('tipoMensaje');
        if ( mensaje != ""){
            if (tipoMensaje == "" ){
                tipoMensaje = 'alert-info';
            }
            $( ".container" )
                .append("<div class='alert "+tipoMensaje+"'>"+mensaje+" </div>");
        }
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' :
                decodeURIComponent(results[1].replace(/\+/g, ' '));
        };
    </script>
    {% block main %} {% endblock %}
    {% block pagination %} {% endblock %}
</div>
<!-- footer.html -->
<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; SDI - Entregable 2 - MyWallpop</span>
    </div>
</footer>
</body>
</html>