{% extends "navUserLogged.html" %}
{% block main %}
<h2>Ofertas</h2>

<form class="navbar-form" action="/sale/search">
    <div class="form-group">
        <input name="busqueda" type="text" class="form-control" size="50"
               placeholder="Buscar por titulo de oferta">
    </div>
    <button type="submit" id="send" class="btn btn-outline-primary">Buscar</button>
</form>


<p>Estas son todas las ofertas disponibles en el sistema</p>

<div class="table-responsive">

    <table class="table table-hover">
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
        </tr>

        </thead>
        <tbody>
        {% for sale in salesList %}
        {% if sale.valid && sale.owner.valid && sale.onsale &&  userEmail!==sale.owner.email %}
        <td>{{sale.title}}</td>
        <td>{{sale.description}}</td>
        <td>{{sale.price}}</td>

        {% if sale.onsale %}
        <td>
            <form method="get" action="/sale/buy/{{sale._id.toString()}}">
                <input type="submit" value="Comprar" name="${sale.title}"/>
            </form>

        </td>
        {% endif %}

        </tr>
        </tbody>
        {% endif %}
        {% endfor %}
    </table>


</div>
{% endblock %}
